html,
body {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 12px;
  background-image: linear-gradient(
    to left top,
    #79e0ee,
    #7ae3e9,
    #7de6e3,
    #83e9dd,
    #8bebd6,
    #85e8cd,
    #80e5c3,
    #7de2b8,
    #69d9a8,
    #53d098,
    #3cc788,
    #1cbe77
  );
}

.first {
  display: flex;
  flex-direction: column;
  height: 15vh;
  overflow: auto;
}

.player {
  display: flex;
  justify-content: space-around;
  font-family: 'Schoolbell', cursive;
}

.timerSection {
  display: flex;
  /* justify-content: center; */
}

#timer {
  width: fit-content;
  margin: 10px;
  padding: 5px;
  /* justify-content: flex-end; */
}

.disabledGrid {
  pointer-events: none;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35vh;
  overflow: auto;
}

/* Dice css part */

#diceButton {
  margin-top: 12px;
}

#diceButton:active,
#diceButton:focus {
  outline: none;
}

#diceButton:hover {
  background-position: -20px -20px;
}

#diceButton:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.dice {
  display: flex;
  /* margin: 40px; */
  /* padding: 40px; */
}

.box {
  width: 45px;
  height: 45px;
  background-color: red; /* Adjust the color as desired */
  margin: 5px; /* Adjust the margin to create spacing between the boxes */
  border-radius: 5px;
}

#diceImage1 {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}
#diceImage2 {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

/* Dice css part end */

#restartButton {
  align-self: flex-end;
  margin-right: 6px;
}

footer {
  display: flex;
  justify-content: center;
}

#github {
  width: 30px;
}

button {
  border-radius: 20px;
  font-family: CircularStd, sans-serif;
  font-weight: 800;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #04e920 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  color: white;
  cursor: pointer;
  transition: all 1s ease-in-out;
  padding: 7px 18px;
  border: 0px;
}
button:hover {
  background: rgb(80, 83, 136);
}
button:disabled {
  cursor: not-allowed;
  background: rgb(58, 58, 64);
}

/* CSS for grid part */
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  padding: auto;
  position: relative;
}

#container1,
#container2 {
  position: relative;
  outline: 2px solid #000;
  font-size: 0;
  margin: auto;
  height: 320px;
  width: 320px;
  padding: 0;
  border: none;
}

.grid {
  margin: auto;
  padding: 0;
  border: none;
  outline: 1px solid #000;
  display: inline-block;
}

.red-color {
  background-color: red;
}
.green-color {
  background-color: green;
}


