body{
    display: flex;
    flex-direction: column;
    overflow:auto;
    margin: 0;
}

.first{
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 149, 149);
    height: 8vh;
    overflow: auto;
}

.player{
    display: flex;
    justify-content: space-around;
}

.time{
    width: 50px;
    background-color: snow;
    padding: 4px;
}

.second{
    display: flex;
    background-color: white;
    justify-content: space-around;
    height: 50vh;
    overflow: auto;
}


.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 36vh;
    background-color: rgb(144, 149, 149);
    overflow: auto;
}

#diceb{
    margin-top: 12px;
}

.dice{
    display: flex;
    margin: 40px;
    padding: 40px;
}

.box {
    width: 45px;
    height: 45px;
    background-color: red; /* Adjust the color as desired */
    margin: 5px; /* Adjust the margin to create spacing between the boxes */
  }

.restart{
  align-self: flex-end;
  margin-right: 6px;
}

footer{
    display: flex;
    justify-content: center;
}